.love-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.love-message p {
    font-size: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

@media (min-width: 425px) {
    .love-message {
        font-size: 20px;
    }
}